body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

h2 {
    color: #333;
}

label, input, button, textarea {
    margin: 5px 0;
    display: block;
}

main {
    /* display: flex; */
    /* flex-direction: column; */
    height: 100vh;
}

#battle-screen {
    /* border: red solid 1px; */
    /* background-image: url(assets/images/bg1.jpg); */
    /* background-image: url("https://i.pinimg.com/1200x/97/7d/b1/977db161db198f22ed9b8c297d4fcc5b.jpg"); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-clip: content-box; */
    height: 40%;
    display: flex;
    justify-content: space-around;
}

#battle-screen #sect1 {
    /* border: rgb(9, 172, 247) solid 1px; */
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#battle-screen #sect2 {
    /* border: rgb(19, 223, 53) solid 1px; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#battle-screen #sect3 {
    /* border: rgb(188, 23, 222) solid 1px; */
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img#player-avatar{
    width: 150px;
    height: auto;
    aspect-ratio: 1;
}

#study-zone {
    /* border: blue solid 1px; */
    height: 60%;
    display: flex;
}

#study-zone > * {
    padding: 1.5rem;
    overflow: auto;
    resize: horizontal; /* Allows resizing */
}

#quests {
    border: rgb(255, 217, 0) solid 1px;
    flex-grow: 1;
    overflow: hidden;
    padding-bottom: 5rem;
}

#quest-list {
    max-height: 80%;
    overflow-y: scroll;
    margin-bottom: 1rem;
}

#quest-list li {
    display: flex; /* Use flexbox for better alignment */
    align-items: center; /* Vertically align items */
  }
  
#quest-list li input[type="checkbox"] {
    margin-right: 10px; /* Add some spacing between the checkbox and the text */
}

#quest-list li.checked{
    text-decoration: line-through;
}

.input-group {
    display: flex;
    width: 100%;
}

#quest-text-input {
    flex: 1
}

#notes {
    border: rgb(0, 255, 195) solid 1px;
    flex-grow: 1
}

#flashcards {
    border: rgb(255, 0, 0) solid 1px;
    flex-grow: 1
}
